section{
    text-align: center;
}


h1{
    font-size: 2.125rem;
    color: #00b39b;
}
.logo{
    width: 50px;
}
.desc{
    display: flex;
    padding: 4% 17%;
    text-align: left;
}

.desc p{
    padding: 10px;
}