header img {
    width: 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 15px;
}